<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>winter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24E536D919693B6F009938A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24E536FA19693B70009938A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24E5383619693C43009938A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24E5384119693FDC009938A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
